*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #222;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxes{
    height: 60%;
    width: 45%;
    background-color: #3e3e3e;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 10%;
    padding: 20px;
}
.boxes h5{
    font-size: 20px;
    padding-bottom: 20px;
    color: #e0e0e0;
}
#enc-dec-con{
    height: 50px;
    width: 20%;
    background-color: #2e2e2e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
}
#enc-dec-con h3{
    height: 100%;
    width: 48%;
    background-color: #7e7e7e;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#dec-btn{
    background-color: #3e3e3e;
}
#arow{
    transform: rotate(180deg);
}
.tale{
    height: 90%;
    width: 30px;
}

.textarea{
    height: auto;
    width: 100%;
    border-radius: 8px;
    background-color: #565656;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
}
.pass{
    width: 99%;
    border-radius: 8px;
    background-color: #565656;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.convert{
    height: 30px;
    justify-content: center;
    width: 99%;
    background-color: #8e8e8e;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
#decrypt{
    display: none;
}
.convert span img{
    height: 20px;

}
#result{
    width: 45%;
    background-color: #565656;
    display: none;
    border-radius: 25px;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
}